.episode-card {
    width: 300px;
    height: 500px;
    background: white;
    border-radius: 4px;
    padding: 5%;
    justify-content: space-evenly;
}

.episode-image {
    width: 225px;
    height: 228px;
}